p{
margin-top:0px;
margin-bottom:0px;
font-family: roboto;
width:100%;
}
body{
  font-family: roboto,Arial;
  margin:0;
  margin-top:70px;
  margin-left:100px;
  margin-right:20px;
  margin-bottom:20px;
  background-color:white;
}
.main-body{
  display: flex;
}
@media (max-width: 640px){
  .main-body{
    flex:2;
  }
}
@media (max-width: 641px and min-width: 1023px){
  .main-body{
    flex:3;
  }
}
@media (min-width: 1024px
){
 .main-body{
   flex:4;
 }
}